h2{
    color: orange;
}
body{
    background-color: #305050;
    color:white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
header{
    border-bottom: 1px solid grey;
}
footer{
    border-top: 1px solid grey;
}

#nome-usuário{
    font-weight: bold;
}
.texto-inglês{
    font-style: italic;
}